{% extends "base.html" %}

{% block lang %}en{% endblock %}

{% block main_content %}
<div style="height:90vh;" class="layout_template">
      <iframe title="dulieutaichinh" width="100%" height="100%"
            src="https://app.powerbi.com/view?r=eyJrIjoiOGExN2E0OGUtMWZhYy00ZTIwLTljODEtNDA0MzQ5YjJlMzUwIiwidCI6IjcxZDU4NzQ5LTc3ZGUtNDMxYi1hMTAyLTNlNTM2YjY3MWY5MiIsImMiOjEwfQ%3D%3D"
            frameborder="0" allowFullScreen="true"></iframe>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="/static/js/analytics.js"></script>
{% endblock %}