{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/information.css?v=2">
{% endblock %}

{% block main_content %}
<h1>Báo cáo Tài chính Ngân hàng</h1>
<div class="layout_template">
    <!-- Phần lựa chọn -->
    <div class="selection-container">
        <div class="form-group">
            <label for="stock">Chọn mã cổ phiếu:</label>
            <select id="stock"></select>
        </div>

        <div class="form-group">
            <label for="report">Chọn loại báo cáo:</label>
            <select id="report"></select>
        </div>

        <div class="form-group">
            <label for="period">Chọn khoảng thời gian:</label>
            <select id="period">
                <option value="yearly">Năm</option>
                <option value="quarterly">Quý</option>
            </select>
        </div>

        <div class="form-group">
            <label for="line">Chọn chỉ tiêu để vẽ biểu đồ:</label>
            <select id="line">Chọn chỉ tiêu</select>
        </div>
    </div>

    <!-- Nút vẽ biểu đồ -->
    <div class="button-container">
        <button onclick="drawChart()">Vẽ biểu đồ</button>
    </div>

    <!-- Phần hiển thị dữ liệu -->
    <div class="data-container">
        <!-- <h3>Kết quả báo cáo:</h3> -->
        <button onclick="exportToExcel()">Xuất Excel</button>

        <div id="data-table"></div>
    </div>
</div>

<!-- Modal biểu đồ -->
<div class="overlay" id="overlay" onclick="closeChart()"></div>
<div class="chart-modal" id="chartModal">
    <canvas id="chartCanvas"></canvas>
    <button onclick="closeChart()">Đóng</button>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
<script src="/static/js/information.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
{% endblock %}