{% extends "base.html" %}

{% block lang %}en{% endblock %}

{% block main_content %}
<div style="height:90vh;" class="layout_template">
    <iframe title="kpi" width="100%" height="100%"
        src="https://app.powerbi.com/view?r=eyJrIjoiN2NhZWYzZTEtNzRkYS00M2RmLWI1ODMtNDRlZTBlMjc2ODYyIiwidCI6IjcxZDU4NzQ5LTc3ZGUtNDMxYi1hMTAyLTNlNTM2YjY3MWY5MiIsImMiOjEwfQ%3D%3D"
        frameborder="0" allowFullScreen="true"></iframe>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="/static/js/report.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}